/* ADD YOUR STYLES HERE */

/* THIS IS #6 HORIZONTALLY SPACED*/

.container {
	padding: 0 10%;
}

.container > * {
	display: inline-block;
	padding: 0 3%;
}

.container-html {
	padding: 0 3%;
}

.container-html > * {
	display: inline-block;
	vertical-align: top;
	padding: 0 3%;
}


/* THIS IS #7 VERTICALLY SPACED*/

.container-vert {
	padding: 25% 0;
}


/* THIS IS #8 HORIZONTAL LIST*/

.horizontal > * {
	display: inline-block;
	float: left;	
}