/* ADD YOUR STYLES HERE */

/* THIS IS #6 HORIZONTALLY SPACED*/

.container {
	padding: 0 10%;
}

.container > * {
	display: inline-block;
	padding: 0 3%;
}

.container-html {
	padding: 0 3%;
}

.container-html > * {
	display: inline-block;
	vertical-align: top;
	padding: 0 3%;
}


/* THIS IS #7 VERTICALLY SPACED*/

.container-vert {
	padding: 25% 0;
}


/* THIS IS #8 HORIZONTAL LIST*/

.horizontal li {
	display: inline-block;
	float: left;	
}

/*THIS IS #9 BUTTONS*/


.buttons a, input {
	display: inline-block;
	background-color: pink;
	color: white;
	text-decoration: none;	
	border-radius: 5px;
	border: none;
}

.large {
	padding: 20px 70px;
}

.medium {
	padding: 10px 45px;
}

.small {
	padding: 3px 5px;
} 


/*THIS IS #10 NAVIGATION*/

.navigation ul {
	padding: 0;
}

.navigation li {
	display: inline-block;
	float: left;
	background-color: pink;
	padding: 10px 40px;
}

.navigation li:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.navigation li:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.navigation a {
	color: white;	
	text-decoration: none;
}

.navigation a:hover {
	color: blue;	
}


/*THIS IS #11 PAGINATION*/


.pagination {
	padding: 0;
}

.pagination li {
	display: inline-block;
	float: left;
	color: silver;
	margin: 0 5px;
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: solid pink;
	overflow: hidden;
}

.pagination a {
	color: pink;
	text-decoration: none;
	/*border-bottom: solid;*/
	/*padding: 5px 15px;*/
}

.pagination .no-line {
	border-bottom: none;
}

.pagination .gray-line {
	border-bottom: solid silver;
}


/*THIS IS #12 COMMENT STREAM*/

/*.social {
	position: relative;
	clear: right;
}*/

.user {
	position: relative;
	clear: right;
	overflow: hidden;
	padding: 5px 0;
}

.avatar {
	position: relative;
	float: left;
	overflow: hidden;
}

.replies {
	padding-left: 10px;
}

.user-data {
	overflow: hidden;
	padding-left: 10px;
}

.user-data time {
	color: silver;
	font-size: 12px;
}

/*THIS IS #13 TABS*/



.tabular-button {
	clear: right;
	padding-left: 10px;

}

.tabular-button-tab {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	background-color: white;
}

.border {
	border: solid 1px gray;
	
}

.tabular-content {
	padding: 10px;
	border-radius: 5px;
}

.link {
	text-decoration: none;
	color: blue;
}

.active {
	position: relative;
	float:none;
	top:1px;

}




















